In [2]:

import numpy as np
import glob
import pandas as pd
import matplotlib.pyplot as plt
import iris.plot as iplt
import cartopy.crs as ccrs

In [3]:
year = 2002

In [4]:
file = '/project/cssp_brazil/mcs_tracking_HG/CPM_HINDCAST_TRACKS/init_tracks_cpm/tracks_{}_INTERP.h5'.format(year)

original = pd.read_hdf(file, 'table')

original

,frame,idx,hdim_1,hdim_2,num,threshold_value,feature,time,timestr,latitude,longitude,cell,time_cell
0,0,4,45.197357,265.924669,1710,240,1,2002-01-01 00:30:00,2002-01-01 00:30:00,-35.430265,-63.357532,-1,NaT
1,0,12,187.528401,423.313225,18895,240,2,2002-01-01 00:30:00,2002-01-01 00:30:00,-21.197160,-47.618678,-1,NaT
2,0,21,266.340863,212.571788,7644,240,3,2002-01-01 00:30:00,2002-01-01 00:30:00,-13.315914,-68.692822,-1,NaT
3,0,36,263.385248,417.547778,604,240,4,2002-01-01 00:30:00,2002-01-01 00:30:00,-13.611475,-48.195223,-1,NaT
4,0,39,260.003556,316.011635,1194,240,5,2002-01-01 00:30:00,2002-01-01 00:30:00,-13.949644,-58.348835,-1,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...
89950,8759,70,281.018883,397.679467,4137,240,89951,2002-12-31 23:30:00,2002-12-31 23:30:00,-11.848112,-50.182054,-1,NaT
89951,8759,71,260.691450,194.653353,2061,240,89952,2002-12-31 23:30:00,2002-12-31 23:30:00,-13.880855,-70.484664,-1,NaT
89952,8759,107,335.396098,270.201474,5730,240,89953,2002-12-31 23:30:00,2002-12-31 23:30:00,-6.410390,-62.929853,-1,NaT
89953,8759,114,332.356543,193.491432,1023,240,89954,2002-12-31 23:30:00,2002-12-31 23:30:00,-6.714346,-70.600859,-1,NaT
89954,8759,160,427.435695,559.011639,883,240,89955,2002-12-31 23:30:00,2002-12-31 23:30:00,2.793569,-34.048835,-1,NaT

In [5]:
print(np.unique(original.cell.values).shape[0], "cells in the original non-filtered dataset")

4082 cells in the original non-filtered dataset

In [7]:
CCPF = pd.DataFrame()

for file in glob.iglob('/project/cssp_brazil/mcs_tracking_HG/CPM_HINDCAST_TRACKS/final_tracks_CPM_INTERP/{}/CC&PF/*.hdf'.format(year)):   
   file = pd.read_hdf(file, 'table')
   CCPF = pd.concat([CCPF, file])

In [8]:
print(np.unique(CCPF.cell.values).shape[0], "cells in the filtered dataset")

2690 cells in the filtered dataset

In [9]:
CCPF.to_hdf('/project/cssp_brazil/mcs_tracking_HG/CPM_HINDCAST_TRACKS/final_tracks_CPM_INTERP/merged/{}/CCPF_{}.hdf'.format(year, year), 'table')

/var/tmp/ipykernel_39953/2519952483.py:1: PerformanceWarning:
your performance may suffer as PyTables will pickle object types that it cannot
map directly to c-types [inferred_type->mixed-integer,key->block3_values] [items->Index(['time', 'timestr', 'max_precip_lat', 'max_precip_lon', 'min_tb_lat',
       'min_tb_lon', 'max_w_up_lat', 'max_w_up_lon', 'max_w_down_lat',
       'max_w_down_lon'],
      dtype='object')]

  CCPF.to_hdf('/project/cssp_brazil/mcs_tracking_HG/CPM_HINDCAST_TRACKS/final_tracks_CPM_INTERP/merged/{}/CCPF_{}.hdf'.format(year, year), 'table')

In [10]:
no_CCPF = pd.DataFrame()

for file in glob.iglob('/project/cssp_brazil/mcs_tracking_HG/CPM_HINDCAST_TRACKS/final_tracks_CPM_INTERP/{}/deleted_tracks/both/*.hdf'.format(year)):   
   file = pd.read_hdf(file, 'table')
   no_CCPF = pd.concat([no_CCPF, file])

In [11]:
no_CCPF.to_hdf('/project/cssp_brazil/mcs_tracking_HG/CPM_HINDCAST_TRACKS/final_tracks_CPM_INTERP/merged/{}/no_CCPF_{}.hdf'.format(year, year), 'table')

/var/tmp/ipykernel_39953/3127874223.py:1: PerformanceWarning:
your performance may suffer as PyTables will pickle object types that it cannot
map directly to c-types [inferred_type->mixed-integer,key->block3_values] [items->Index(['time', 'timestr', 'max_precip_lat', 'max_precip_lon', 'min_tb_lat',
       'min_tb_lon', 'max_w_up_lat', 'max_w_up_lon', 'max_w_down_lat',
       'max_w_down_lon'],
      dtype='object')]

  no_CCPF.to_hdf('/project/cssp_brazil/mcs_tracking_HG/CPM_HINDCAST_TRACKS/final_tracks_CPM_INTERP/merged/{}/no_CCPF_{}.hdf'.format(year, year), 'table')

In [12]:
no_precip = pd.DataFrame()

for file in glob.iglob('/project/cssp_brazil/mcs_tracking_HG/CPM_HINDCAST_TRACKS/final_tracks_CPM_INTERP/{}/deleted_tracks/precip/*.hdf'.format(year)):   
   file = pd.read_hdf(file, 'table')
   no_precip = pd.concat([no_precip, file])

In [13]:
no_precip

,frame,idx,hdim_1,hdim_2,num,threshold_value,feature,time,timestr,latitude,...,w_5_down,max_precip_lat,max_precip_lon,min_tb_lat,min_tb_lon,max_w_up_lat,max_w_up_lon,max_w_down_lat,max_w_down_lon,colocated_pixels
50969,4984,59,497.457127,286.946825,501,240,50970,2002-07-27 16:30:00,2002-07-27 16:30:00,9.795713,...,NaN,10.65,-63.049999,9.95,-62.549999,0,0,0,0,83
50977,4985,79,498.177880,283.914511,667,240,50978,2002-07-27 17:30:00,2002-07-27 17:30:00,9.867788,...,NaN,10.15,-61.849998,10.65,-63.349998,0,0,0,0,63
50984,4986,107,498.481755,281.374106,739,240,50985,2002-07-27 18:30:00,2002-07-27 18:30:00,9.898176,...,0.0,9.05,-59.549999,10.75,-63.450001,9.35,-61.950001,9.95,-63.150002,56
50993,4987,137,498.570170,280.742984,776,240,50994,2002-07-27 19:30:00,2002-07-27 19:30:00,9.907017,...,NaN,10.25,-62.049999,10.25,-62.049999,0,0,0,0,40
51000,4988,160,499.015989,277.300786,772,240,51001,2002-07-27 20:30:00,2002-07-27 20:30:00,9.951599,...,NaN,10.25,-62.049999,10.25,-62.150002,0,0,0,0,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41402,3854,122,512.378063,25.092090,2158,240,41403,2002-06-10 14:30:00,2002-06-10 14:30:00,11.287806,...,NaN,13.15,-84.949997,11.15,-84.949997,0,0,0,0,0
41410,3855,133,512.754187,25.101658,2121,240,41411,2002-06-10 15:30:00,2002-06-10 15:30:00,11.325419,...,0.0,13.15,-84.949997,11.55,-84.949997,11.35,-84.75,10.95,-84.75,0
41418,3856,139,512.980026,25.122672,2172,240,41419,2002-06-10 16:30:00,2002-06-10 16:30:00,11.348003,...,NaN,13.25,-85.050003,11.75,-84.949997,0,0,0,0,0
41426,3857,172,512.859476,25.171799,2181,240,41427,2002-06-10 17:30:00,2002-06-10 17:30:00,11.335948,...,NaN,12.65,-84.949997,11.75,-84.949997,0,0,0,0,0
41438,3858,207,513.564614,25.195136,2283,240,41439,2002-06-10 18:30:00,2002-06-10 18:30:00,11.406461,...,0.0,9.25,-89.949997,11.75,-84.949997,11.75,-84.75,12.05,-84.75,0

In [14]:
no_precip.to_hdf('/project/cssp_brazil/mcs_tracking_HG/CPM_HINDCAST_TRACKS/final_tracks_CPM_INTERP/merged/{}/no_precip_{}.hdf'.format(year, year), 'table')

/var/tmp/ipykernel_39953/575587270.py:1: PerformanceWarning:
your performance may suffer as PyTables will pickle object types that it cannot
map directly to c-types [inferred_type->mixed-integer,key->block3_values] [items->Index(['time', 'timestr', 'max_precip_lat', 'max_precip_lon', 'min_tb_lat',
       'min_tb_lon', 'max_w_up_lat', 'max_w_up_lon', 'max_w_down_lat',
       'max_w_down_lon'],
      dtype='object')]

  no_precip.to_hdf('/project/cssp_brazil/mcs_tracking_HG/CPM_HINDCAST_TRACKS/final_tracks_CPM_INTERP/merged/{}/no_precip_{}.hdf'.format(year, year), 'table')

In [15]:

no_CC = pd.DataFrame()

for file in glob.iglob('/project/cssp_brazil/mcs_tracking_HG/CPM_HINDCAST_TRACKS/final_tracks_CPM_INTERP/{}/deleted_tracks/cold_core/*.hdf'.format(year)):   
   file = pd.read_hdf(file, 'table')
   no_CC = pd.concat([no_CC, file])

In [16]:
no_CC

,frame,idx,hdim_1,hdim_2,num,threshold_value,feature,time,timestr,latitude,...,w_5_down,max_precip_lat,max_precip_lon,min_tb_lat,min_tb_lon,max_w_up_lat,max_w_up_lon,max_w_down_lat,max_w_down_lon,colocated_pixels
6144,562,17,158.320900,326.568226,537,240,6145,2002-01-24 10:30:00,2002-01-24 10:30:00,-24.117909,...,NaN,-23.65,-57.049999,-24.049999,-57.049999,0,0,0,0,0
6153,563,16,158.233332,329.334700,602,240,6154,2002-01-24 11:30:00,2002-01-24 11:30:00,-24.126666,...,NaN,-23.549999,-56.25,-23.950001,-56.650002,0,0,0,0,0
6162,564,18,158.276600,332.864889,654,240,6163,2002-01-24 12:30:00,2002-01-24 12:30:00,-24.122340,...,0.0,-23.65,-56.150002,-23.85,-56.549999,-23.85,-58.150002,-24.75,-56.450001,0
6170,565,18,158.691978,337.590912,682,240,6171,2002-01-24 13:30:00,2002-01-24 13:30:00,-24.080802,...,NaN,-23.65,-56.049999,-24.049999,-56.25,0,0,0,0,0
6180,566,17,161.655981,346.031543,618,240,6181,2002-01-24 14:30:00,2002-01-24 14:30:00,-23.784402,...,NaN,-23.450001,-55.25,-22.35,-55.450001,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33198,3192,17,81.725805,128.736410,506,240,33199,2002-05-14 00:30:00,2002-05-14 00:30:00,-31.777420,...,0.0,-31.25,-76.449997,-33.150002,-76.449997,-31.15,-76.550003,-30.549999,-76.849998,0
33210,3193,13,82.147585,131.077354,666,240,33211,2002-05-14 01:30:00,2002-05-14 01:30:00,-31.735241,...,NaN,-31.75,-76.150002,-33.549999,-76.25,0,0,0,0,0
33220,3194,14,79.585694,135.390264,731,240,33221,2002-05-14 02:30:00,2002-05-14 02:30:00,-31.991431,...,NaN,-32.049999,-76.050003,-33.950001,-76.25,0,0,0,0,0
33230,3195,16,79.165775,138.881205,603,240,33231,2002-05-14 03:30:00,2002-05-14 03:30:00,-32.033422,...,0.0,-32.75,-75.849998,-32.450001,-75.849998,-32.25,-75.949997,-32.349998,-75.349998,0
33241,3196,15,76.798140,143.418928,524,240,33242,2002-05-14 04:30:00,2002-05-14 04:30:00,-32.270186,...,NaN,-32.950001,-75.849998,-32.950001,-75.849998,0,0,0,0,0

In [17]:
no_CC.to_hdf('/project/cssp_brazil/mcs_tracking_HG/CPM_HINDCAST_TRACKS/final_tracks_CPM_INTERP/merged/{}/no_CC_{}.hdf'.format(year, year), 'table')

/var/tmp/ipykernel_39953/3072338908.py:1: PerformanceWarning:
your performance may suffer as PyTables will pickle object types that it cannot
map directly to c-types [inferred_type->mixed-integer,key->block3_values] [items->Index(['time', 'timestr', 'max_precip_lat', 'max_precip_lon', 'min_tb_lat',
       'min_tb_lon', 'max_w_up_lat', 'max_w_up_lon', 'max_w_down_lat',
       'max_w_down_lon'],
      dtype='object')]

  no_CC.to_hdf('/project/cssp_brazil/mcs_tracking_HG/CPM_HINDCAST_TRACKS/final_tracks_CPM_INTERP/merged/{}/no_CC_{}.hdf'.format(year, year), 'table')

In [18]:
# # Need to remane the columns to latitude and longitude (and -360 from the longitude) for velocity function and plotting to work 
# original.rename(columns={'projection_x_coordinate': 'longitude', 'projection_y_coordinate': 'latitude'}, inplace=True)
# CCPF.rename(columns={'projection_x_coordinate': 'longitude', 'projection_y_coordinate': 'latitude'}, inplace=True)
# no_CCPF.rename(columns={'projection_x_coordinate': 'longitude', 'projection_y_coordinate': 'latitude'}, inplace=True)
# no_precip.rename(columns={'projection_x_coordinate': 'longitude', 'projection_y_coordinate': 'latitude'}, inplace=True)
# no_CC.rename(columns={'projection_x_coordinate': 'longitude', 'projection_y_coordinate': 'latitude'}, inplace=True)

# original.longitude = original.longitude - 360
# CCPF.longitude = CCPF.longitude - 360
# no_CCPF.longitude = no_CCPF.longitude - 360
# no_precip.longitude = no_precip.longitude - 360
# no_CC.longitude = no_CC.longitude - 360

In [19]:
## stats for pre and post filtering ##
# ---------------------------------------
print('Stats for year: {}'.format(year))
print(' ')

print(np.unique(original.cell.values).shape[0], "cells in the original non-filtered dataset")

print(np.unique(CCPF.cell.values).shape[0], "cells that met both criteria post-filtering")

print(np.unique(no_CCPF.cell.values).shape[0], "cells did not meet either cold core or precip criteria")

print(np.unique(no_precip.cell.values).shape[0], "cells did not meet the precip criteria but met the cold core criteria")

print(np.unique(no_CC.cell.values).shape[0], "cells did not meet the cold core criteria but met the precip criteria")

print("Total of", (np.unique(original.cell.values).shape[0])-(np.unique(CCPF.cell.values).shape[0]), "cells removed post-filtering")

print(((((np.unique(original.cell.values).shape[0])-(np.unique(CCPF.cell.values).shape[0]))/(np.unique(original.cell.values).shape[0]))*100), "% decrease")

Stats for year: 2002

4082 cells in the original non-filtered dataset
2690 cells that met both criteria post-filtering
1833 cells did not meet either cold core or precip criteria
348 cells did not meet the precip criteria but met the cold core criteria
431 cells did not meet the cold core criteria but met the precip criteria
Total of 1392 cells removed post-filtering
34.10093091621754 % decrease